In [1]:
import numpy as np 
import pandas as pd


df = pd.read_csv('./creditcard.csv')

df.drop(columns=['Time', 'Amount', 'Class'], inplace=True)
print(df.shape)
df.head()

(284807, 28)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153

In [2]:
df.var()

V1     3.836489
V2     2.726820
V3     2.299029
V4     2.004684
V5     1.905081
V6     1.774946
V7     1.530401
V8     1.426479
V9     1.206992
V10    1.185594
V11    1.041855
V12    0.998403
V13    0.990571
V14    0.918906
V15    0.837803
V16    0.767819
V17    0.721373
V18    0.702539
V19    0.662662
V20    0.594325
V21    0.539526
V22    0.526643
V23    0.389951
V24    0.366808
V25    0.271731
V26    0.232543
V27    0.162919
V28    0.108955
dtype: float64